extends layout
block content
  p
    | Welcome to Hourai Site currently hosting the clean and effecient PSO2 Patcher. Final name is pending. 
  p
    | 
block sidebar
  .widget
    h1 Downloads
    p Hourai PSO2 Patcher
