extends layout
block content
  p
    | Welcome to Hourai Site currently hosting the clean and effecient PSO2 Patcher. That works just about as well as the original and the alternative AIDA
  p
    | 
block sidebar
  .widget
    h1 Downloads
    p #[a(href=installerLink) Hourai PSO2 Patcher]
